<div class="product">
    <div class="product__details">
        <div class="product__details__brand">
            {{ product.brand }}
        </div>
        <div class="product__details__name">
            {{ product.name }}
        </div>
        <div class="product__details__description">
            {{ product.description }}
        </div>
        <div class="product__details__price">
            {{ product.price | currency: 'EUR'}}
        </div>
        <div class="product__details__discount" *ngIf="remainingDiscountSeconds$ | ngrxPush as remainingSeconds">
            If you add the product to your cart in 
            <span class="product__details__discount--time">{{ remainingSeconds }}</span>
            seconds, you will get extra discount!
        </div>
        <div class="product__details__add-button">
            <button mat-raised-button color="primary" (click)="addProductToCart.emit()">ADD TO CART</button>
        </div>
    </div>
    <img class="product__img" mat-card-image [src]="'assets/img/' + product.img"/>
</div>