.products-grid-container {
    &__count {
        font-size: 20px;
    }

    &__grid {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-gap: 20px 20px;
    }
}